include ../mixins/formCard
include ../mixins/submitButton

+formCard('Leave a Comment')
  - const inputClasses = 'w-full rounded-md bg-neutral-50 dark:bg-neutral-800 dark:outline dark:outline-1 dark:outline-neutral-600 focus:outline-none focus:ring-1 focus:ring-primary-400 placeholder:text-neutral-500 dark:placeholder:text-neutral-300';
  form.mt-4
    div
      textarea(class=`${inputClasses} p-4`, rows="4", placeholder="What are your thoughts?", name="comment", required='')
    div(class="mt-1")
      input(type="text", class=`${inputClasses} py-3 px-4`, placeholder="Your name", name="name", required='')
    div(class="mt-5")
      +submitButton('Submit Comment')
