#dark-mode-switch.darkmode-toggle
  div(class="darkmode-toggle-track dark:bg-neutral-700")
    .darkmode-toggle-track-check
      img(src="/images/moon.png" alt="moon icon" width="16" height="16" style="pointer-events: none;")
    .darkmode-toggle-track-x
      img(src="/images/sun.png" alt="sun icon" width="16" height="16" style="pointer-events: none;")
  .darkmode-toggle-thumb
  input.darkmode-toggle-screenreader-only(type="checkbox" aria-label="Switch between Dark and Light mode" style="display: none;")
