header
  nav
    a(href='/') John Munson's Blog
    br
    br
    ul
      li
        a(href='/posts/tags/popular') Popular
      li
        a(href='/newsletter') Newsletter
      li
        a(href='/feeds.xml') RSS
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
      li
        //- dark mode toggle
        p DM
  br
  hr
