doctype html
html
  head
    title John Munson's Blog
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- Dark mode setup
    //- might consider inlining the darkMode.css and darkMode.js if it helps improve FOUC
    link(rel='stylesheet', href='/styles/darkMode.css')
    //- Other styles
    link(rel='stylesheet', href='/styles/contentHeaders.css')
    link(rel='stylesheet', href='/styles/popularPosts.css')
    script(src='/scripts/darkMode.js')
    //- Tailwind setup
    script(src='https://cdn.tailwindcss.com/3.3.5')
    script(src='/scripts/tailwindConfig.js')
    //- HTMX setup
    //- To find the integrity hash, add `?meta` to the end of the unpkg url script
    script(src='https://unpkg.com/htmx.org@1.9.9' integrity='sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX' crossorigin='anonymous')
  body(class='mt-12 mx-4 sm:mx-8 md:mx-20 bg-neutral-100 dark:bg-neutral-900 dark:text-white')
    div(class='max-w-4xl mx-auto')
      include ../partials/header
      block content
      include ../partials/footer
