include ../mixins/postPreview

mixin postList(posts, marginTop)
  div(class=`sm:grid sm:grid-cols-3 sm:gap-y-8 sm:gap-x-4 items-start ${marginTop}`)
    each post, i in posts
      - const isFirst = i === 0;
      +postPreview(post, isFirst)
