include ../mixins/postPreview

mixin postList(posts)
  div(class='sm:grid sm:grid-cols-3 sm:gap-y-8 sm:gap-x-8 items-start mt-12')
    each post, i in posts
      - const isFirst = i === 0;
      +postPreview(post, isFirst)
