extends ../layouts/mainLayout
include ../mixins/postPreviewList
include ../mixins/prevNextFooterDivider

block content
  p(class='mt-12' style="text-align: justify; text-justify: inter-word; hyphens: auto;")
    span.font-medium.text-lg Howdy there!
    |  Just me here, welcoming you to my blog. It's a casual affair, really. This is where I'll be jotting down thoughts, stories, and maybe the occasional insight. No set schedule, just whenever I find the motivation to share. I hope you find something interesting here. If you do, feel free to share it with your friends. If you don't, feel free to share it with your enemies. Either way, I'm happy you're here.
  +postPreviewList(firstThreePosts)
  a(href='/posts' class='block mt-10')
    span(class='text-lg hover:text-primary-400') All Posts
    span.text-primary-400 &nbsp;&nbsp;→
  +prevNextFooterDivider

//- h1(class='text-3xl font-bold underline')= pageTitle
//- img(src='/images/avatar.jpg' alt='avatar' class='max-w-xs mt-4')
//- button(
//-   hx-get='/random-number'
//-   hx-target='#random-number-display'
//-   class='px-4 py-2 border border-gray-300 text-gray-700 bg-gray-50 hover:bg-gray-100 mt-4 mr-4'
//- ) Get Random Number
//- span#random-number-display 73