extends ../layouts/layout

block content
  h1(class='text-3xl font-bold underline')= pageTitle
  img(src='/images/avatar.jpg' alt='avatar' class='max-w-xs mt-4')
  button(hx-get='/random-number' hx-target='#random-number-display' class='px-4 py-2 border border-gray-300 text-gray-700 bg-gray-50 hover:bg-gray-100 mt-4 mr-4') Get Random Number
  span#random-number-display 73
