extends ../layouts/mainLayout
include ../mixins/postPreview

block content 
  ul
    each post in posts
      li
        +postPreview(post)
  br
  div
    if prevLink
      a(href=prevLink) Previous
    if nextLink
      a(href=nextLink) Next
