extends ../layouts/mainLayout
include ../mixins/prevNextFooterDivider
include ../mixins/postPreviewList
include ../mixins/tag
include ../mixins/comment

block content
  - const asPostHeader = true;
  main
    +postPreviewList([post], asPostHeader)
    if post.frontmatter.coverPhoto
      img(src=post.frontmatter.coverPhoto, alt=post.frontmatter.title, class='mb-10 mt-6 w-full h-auto rounded-md border border-neutral-300 dark:border-neutral-600')
    | !{post.html}
  div.mt-10.inline-flex.gap-4.items-baseline
    a(href='/posts/tags' class='text-lg underline hover:text-primary-400') Tags:
    each tag, i in post.frontmatter.tags
      +tag(tag)
  .mt-10.space-y-4
    include ../partials/commentBox
    each comment in [1, 2, 3]
      +comment
  +prevNextFooterDivider(prevLink, nextLink)
