extends ../layouts/mainLayout
include ../mixins/postPreview
include ../mixins/prevNext

block content 
  ul
    each post in posts
      li
        +postPreview(post)
  br
  +prevNext(prevLink, nextLink)
