extends ../layouts/mainLayout
include ../mixins/postPreview
include ../mixins/prevNextFooterDivider
include ../mixins/postList

block content 
  +postPreviewList(posts)
  +prevNextFooterDivider(prevLink, nextLink)
