extends ../layouts/mainLayout
include ../mixins/postPreview
include ../mixins/prevNextFooterDivider
include ../mixins/postList

block content 
  +postList(posts, 'mt-10')
  +prevNextFooterDivider(prevLink, nextLink)
