extends ../layouts/mainLayout
include ../mixins/tag
include ../mixins/prevNextFooterDivider

block content
  div.h-2
  main
    div.flex.gap-6
      each count, tag in tags
        +tag(tag, `#`, count)
    +prevNextFooterDivider
