extends ../layouts/mainLayout
include ../mixins/tag
include ../mixins/prevNextFooterDivider

block content
  main.mt-14
    div.flex.gap-6
      each count, tag in tags
        +tag(tag, `#`, count)
    +prevNextFooterDivider
